/* video link:

*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*End of Reset Code*/
html {
  box-sizing: border-box;
  font-family: "Yusei Magic", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

body {
  background-color: #030932;
  margin: 50px;
}
/*
 The navigation bar is fixed to the top of the window. 
*/
.navbar {
  font-size: 1.5em;
  background-color: white;
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 0px 10px 1px rgba(1, 1, 99, 0.322);
  z-index: 1;
}

#R-logo {
  width: 3em;
  padding-left: 0 auto;
}
.navbar ul,
.navbar li {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}
a {
  font-size: 1em;
  text-decoration: none;
  transition: all 0.5s;
  color: rgb(1, 1, 99);
}
a:hover {
  transform: scale(1.2);
}
a:active {
  transform: scale(1.2);
}
.navbar ul {
  display: flex;
  flex: 1;
  justify-content: space-evenly;
  max-width: 50%;
}
/*
 background-images are used for different divs of the top banner section. the main title of the page
 is an h1 contained within the .title div.
*/
.top-banner {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: row;
  margin: 0;
}
.title {
  background-image: url(https://res.cloudinary.com/dq2ki7aym/image/upload/v1613399388/woodenTexture_nseuon.png);
  background-size: cover;
  width: 30%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-banner {
  background-image: url(https://res.cloudinary.com/dq2ki7aym/image/upload/v1613399215/MainBanner_zmst1h.jpg);
  background-size: cover;
  width: 70%;
  height: 500px;
  background-position-y: -10px;
}
.title h1 {
  font-size: 3em;
  color: white;
  font-family: "Shadows Into Light", cursive;
}
#title-background {
  background-image: url(https://res.cloudinary.com/dq2ki7aym/image/upload/v1613399304/PaperLogo_ececii.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 312px;
  top: 50px;
  transform: rotate(-8deg);
}

/*
The section is splited in three divs. flex box is used to have more float flexibility.
*/
.my-photo {
  background-image: url(https://res.cloudinary.com/dq2ki7aym/image/upload/v1612696228/myPhoto_cdsibl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 30%;
}
.story-container {
  background-color: white;
  display: flex;
  min-height: 550px;
  flex-direction: row;
  margin: 0;
  border-radius: 0 0 10px 10px;
}
.story-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 40%;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.815);
  padding: 5em;
  line-height: 25px;
}
.story-text h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

/*
All three portfolio sections share the flex options. however different backgrounds.
*/
.Poster,
.threedWorks,
.CLogo {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 3.5em;
  min-height: auto;
}
.Poster {
  background-image: url(https://res.cloudinary.com/dq2ki7aym/image/upload/v1613426221/Poster_Background_lxetyc.jpg);
  background-size: 100%;
  background-repeat: repeat;
  border-radius: 10px 10px 0 0;
}

.CLogo {
  background-image: url(https://res.cloudinary.com/dq2ki7aym/image/upload/v1613426223/brigth_background_iexg0t.jpg);
  background-size: auto;
  background-repeat: repeat;
  border-radius: 0 0 10px 10px;
}

.threedWorks {
  background-image: url(https://res.cloudinary.com/dq2ki7aym/image/upload/v1613400282/jason-leung-UMncYEfO9-U-unsplash_qhjlgy.jpg);
  background-size: auto;
  background-repeat: repeat;
  border-radius: 0 0 10px 10px;
}
/* the section splits three horizontal divs with flex style. Images and other tags are selected accordingly.
design-philosophy is the main section. 
 */
.design-philosphy {
  background-image: url(https://images.unsplash.com/photo-1476036604315-fed0874dfd55?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80);
  display: flex;
  background-repeat: repeat;
  background-size: 50%;
  background-position-y: -1500px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  margin: none;
}
.design-philosphy img {
  width: 100%;
}
.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.815);
  line-height: 25px;
  background-color: white;
  width: 60%;
  min-height: 500px;
  box-shadow: 0px 0px 10px 1px rgba(1, 1, 99, 0.322);
}
.kabul-before {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 400px;
}
.text-container p {
  width: 70%;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.815);
  line-height: 25px;
  padding-left: 7em;
}
.text-container h2 {
  font-size: 2.5em;
  padding-bottom: 1.5em;
  padding-left: 2.7em;
}

.Kabul2050 {
  width: 30%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banners-web {
  background-image: url(https://res.cloudinary.com/dq2ki7aym/image/upload/v1613400282/jason-leung-UMncYEfO9-U-unsplash_qhjlgy.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  border-radius: 0 0 10px 10px;
}

/*
A seperate div is used for the tile parts to make it more flexibile.
*/
.portfolio-title {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: flex-start;
  align-items: center;
}
.portfolio-title h2 {
  font-size: 2.5em;
  color: white;
  opacity: 0.9;
  font-weight: 700;
  padding: 30px;
  padding-left: 50px;
}
/*
For logo portfolio an image is used as title.
*/
.logo-design-title img {
  width: 30%;
  margin: none;
  padding: none;
}
/*
Poster, logo, and 3d work portfolio images share the same style.
*/
.portfolio-image {
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.portfolio-image img,
.poster-title {
  margin: 1%;
  width: 16%;
  transition: all 1s;
}
.portfolio-image img:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 10px rgba(10, 10, 10, 0.5);
}

/*
Seperate syles are defined for the web and banner section.
*/
.banners-web img {
  width: 30%;
  border-radius: 10px;
}
/*
The tile of the poster section is an h2 that is aligned within a frame with the poster samples.
*/
.poster-title {
  background-image: url(https://res.cloudinary.com/dq2ki7aym/image/upload/v1613403333/posterCricket.jpg_rryry6.png);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 2em;
  height: 21vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
footer includes a 
*/

footer {
  background-color: black;
  color: white;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
}
footer h4 {
  padding: 20px;
}
#linkedin-logo img {
  width: 50px;
  height: 50px;
}
/*
The service-panel is one single section splitted into three divs(price-options).

*/
.service-panel {
  width: 100%;
  min-height: 300px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 30px 0 0 0;
}
.price-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  border-left: 1px solid rgb(103, 184, 238);
  line-height: 1.8em;
}
.service-panel h2 {
  font-size: 2em;
  padding-bottom: 10px;
  margin-top: 10px;
}
.price-option:first-child {
  border-left: none;
}
.options-list {
  padding: 5px;
  margin: 5px;
  text-transform: uppercase;
}
.options-list li {
  border-bottom: 1px solid rgb(103, 184, 238);
}
.price-tag {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.815);
}
.shop-button {
  color: white;
  width: 50px;
  background-color: rgb(55, 60, 71);
  border: 2px solid cadetblue;
  border-radius: 5px;
  padding: 3px;
}
.shop-button:hover {
  color: white;
  background-color: rgb(36, 38, 43);
  border: 2px solid rgb(22, 245, 226);
  box-shadow: 0px 0px 5px 2px rgb(22, 245, 226);
  cursor: pointer;
}

/*
the contact section is splitted into two row divs. the contact input div carries the input table. 
Each div container has the flex display.   
*/
.contact {
  background-color: rgb(20, 20, 20);
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
}
.contact-input {
  background-color: rgb(20, 20, 20);
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 0.9em;
}
.contact-table {
  color: white;
  opacity: 0.8;
}
.contact-table input {
  background-color: rgb(55, 60, 71);
  height: 20px;
  border: 1px solid rgb(26, 28, 32);
}

.btn-submit {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}
#submit {
  color: white;
  background-color: rgb(55, 60, 71);
  border: 2px solid cadetblue;
  border-radius: 5px;
  padding: 3px;
}
#submit:hover {
  color: white;
  background-color: rgb(36, 38, 43);
  border: 2px solid rgb(22, 245, 226);
  box-shadow: 0px 0px 10px 3px rgb(22, 245, 226);
  cursor: pointer;
}

/*
contact note is general container that includes the placeholder text and the text generated by javascript. 
*/
.contact-note {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2%;
  width: 80%;
  min-height: 300px;
  line-height: 2em;
}

#contact-confirm-note {
  font-size: 1em;
  color: white;
}

/*
contactNote image is being appended upon the submission of the form.
*/
#contactNote img {
  width: 30%;
}
/*
media query is used for responsiveness in three screen dimensions. 
generally the width and flex-directions are affected.
*/

@media (max-width: 1300px) {
  body {
    margin: 20px;
  }
}

@media (max-width: 900px) {
  body {
    margin: 30px;
  }
  .navbar {
    font-size: 1.2em;
    flex-direction: column;
    flex: 1;
    padding-top: 10px;
  }
  .navbar li {
    padding: 5%;
  }
  .top-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .title {
    width: 100%;
    height: 300px;
  }
  .main-banner {
    width: 100%;
  }
  .story-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .my-photo {
    width: 100%;
    min-height: 550px;
  }
  .story-text {
    width: 60%;
  }
  .story-text h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .skills-table {
    width: 100%;
    min-height: 300px;
  }
  .portfolio-image {
    justify-content: space-between;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .portfolio-image img {
    margin: 2%;
    width: 70%;
    transition: all 1s;
  }
  .poster-title {
    background-size: cover;
    width: 70%;
    height: auto;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-height: 500px;
    margin: 0px;
    box-shadow: 0px 0px 10px 10px rgba(10, 10, 10, 0.151);
  }

  .kabul-before {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 300px;
  }
  .text-container p {
    width: 70%;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.815);
    line-height: 25px;
    padding-left: 2em;
    padding-bottom: 1em;
  }
  .text-container h2 {
    font-size: 2.2em;
    padding-bottom: 1em;
    padding-left: 0.1em;
    padding-top: 1em;
  }
  .design-philosphy {
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    background-size: cover;
    background-position-y: 100px;
    min-height: 600px;
  }
  .design-philosphy img {
    width: 100%;
  }
  .Kabul2050 {
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .service-panel {
    width: 100%;
    flex-direction: column;
    padding: 20px 0 30px 0;
  }

  .service-panel h2 {
    margin-top: 10px;
  }
  .contact-note {
    width: 100%;
    min-height: 300px;
  }
  .contact {
    flex-direction: column;
  }
  .contact-input {
    width: 100%;
  }
  .logo-design-title img {
    width: 70%;
    margin: none;
    padding-bottom: 20px;
  }
  #contact-confirm-note {
    font-size: 1em;
    color: white;
    width: 80%;
  }
}
@media (max-width: 400px) {
  body {
    margin: 10px;
  }
  .poster-title {
    width: 70%;
    justify-self: end;
  }
}
